.container{
    position: relative;
    min-width: 99vw;
    padding: 10px 10px;
    margin: auto;

    display: grid;
    grid-gap: 16px;
    grid-template-areas: 
        "a d e e f"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b";
}

.item-title{
    max-height: 20vh;
    grid-area: a;
}

.item-graphs{
    max-width: 50vw;
    height: 82vh;
    grid-area: b;
    margin: 0px auto;
}

.item-map{
    grid-area: c;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ccc;
    border-radius: 24px;
    margin: 0px auto;
    height: 82vh;
    width: 60vw;
}

.item-selection{
    height: 12vh;
    grid-area: d;
}
.item-slider{
    height: 12vh;
    grid-area: e;
}

.item-button{
    height: 12vh;
    grid-area: f;
}