.container{
    position: relative;
    min-width: 99vw;
    padding: 10px 10px;
    margin: auto;

    display: grid;
    grid-gap: 16px;
    grid-template-areas: 
        "a d e e f"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b"
        "c c b b b";
}

.item-title{
    max-height: 20vh;
    grid-area: a;
}

.item-graphs{
    max-width: 50vw;
    height: 82vh;
    grid-area: b;
    margin: 0px auto;
}

.item-map{
    grid-area: c;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ccc;
    border-radius: 24px;
    margin: 0px auto;
    height: 82vh;
    width: 60vw;
}

.item-selection{
    height: 12vh;
    grid-area: d;
}
.item-slider{
    height: 12vh;
    grid-area: e;
}

.item-button{
    height: 12vh;
    grid-area: f;
}


.entrance{
    position: absolute;
    align-self: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    border-radius: 24px;
    z-index: 1;
}

.loading-frame{
    width: 100vw;
    height: 11vh;
    text-align: center;
    text-justify: center;
    margin-top: 25%;
    left: 50%;
}

.loading-icon{
    font-size: 10vh;
    width: 10%;
    animation: loading-animation 3s infinite linear;
}

@keyframes loading-animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.loading-text{
    position: absolute;
    font-size: 10vh;
    transform: translate(10vw, -11vh);
    animation: text-loading-animation 3s infinite linear;
}

@keyframes text-loading-animation{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}