@import './typography.scss';
@import './app.scss';

@import './components/Title';
@import './components/Graphs';
@import './components/WorldMap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    position: absolute;
    background-color: #000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    &:hover {
        transition: 1s;
        background: #fff;
    }
  }

  ::-moz-selection { /* Code for Firefox */
    color: #202020;
    background: #ccc;
  }
  
  ::selection {
    color: #202020;
    background: #ccc;
  }