@import './typography.scss';
@import './app.scss';

@import './components/Title';
@import './components/Graphs';
@import './components/WorldMap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #000;
}