.title-box{
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: #202020;
    border-radius: 24px;

    .title-text{
        color: white;
        font-size: 30px;
    }
}