.title-box{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #202020;
    border-radius: 24px;

    .title-text{
        color: white;
        font-size: 40px;
    }
}